# Copy this file to terraform.tfvars and fill in your own values before running.

aws_region             = "us-east-2"
name                   = "example-stack"
spacelift_account_name = "cloud-admin"
repository_name        = "my-github-repo"
repository_branch      = "master"
description            = "This is an example stack."
